{% extends 'main.html' %}


{% block content %}

{% if page == 'login' %}


    <div>
        <form action="" method="post">
            {% csrf_token %}

            <label for="">Nombre de usuario:</label>
            <input type="text" name="username" placeholder="Introduzca usuario">
            
            
            <label for="">Contraseña:</label>
            <input type="password" name="password" placeholder="Introduzca contraseña">


            <input type="submit" value="Iniciar Sesión">
        </form>

        <p>No te has registreado aún? <a href={% url 'register' %}>Regístrate</a></p>

    </div>
    
    {% else %}
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Registrarse">

        </form>
        <p>Si ya te registraste, <a href={% url 'login' %}>Inicia Sesión</a></p>
    </div>

    {% endif %}

{% endblock content %}