{% extends 'main.html' %}

{% block content %}
    <div class="room-container">

        <h2>{{ room.name }}</h2>
        <h4><span class="text-primary ">@{{ room.host.username }}</span></h4>
        <p>{{ room.created }}</p>
    
        <p>Descripcion: {{ room.description }}</p>
    
        {% if request.user.is_authenticated %}
        
        <form action="" method="post">
            <div class="input-group w-75 mx-auto">
                {% csrf_token %}
                <input class="w-100" type="text" name="new-msg" id="new-msg" placeholder="Introduzca mensaje">
            </div>
        </form>
        {% endif %}
    
        <ul>
            {% for msg in room_messages %}
                <p class="mt-2">
                    {% if request.user == msg.user and msg.was_posted_recently%}
                    <a class="text-danger" href={% url 'delete-message' msg.id%}>Delete</a>
                    {% endif %}
                    <span class="text-primary">@{{ msg.user.username }}</span>
                    <small class="text-info font-italic">{{ msg.created|timesince }}</small>: 
                    <br>
                    {{ msg.body }}
                </p>
            {% endfor %}
        </ul>
    </div>

{% endblock content %}
