{% extends 'main.html' %}

{% load crispy_forms_tags %}
{% block content %}

    <div class="w-50 mx-auto p-4">
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            
            <div class="d-flex justify-content-end">
                <a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary btn-lg mr-3">Regresar</a>
                <input type="submit" class="btn btn-success btn-lg" value="Confirmar">
            </div>
        </form>
    </div>

{% endblock content %}