
body {
    background-color: #283845;
    color: white;
}

.create__button {
    margin: 16px
}

.navbar {
    background-color: #202C39;
}

.room__box {
    background-color: #f1faee;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.room__topic {
    padding: 7px 15px;
    border-radius: 10px;
    color: gray;
}

.room-container {
    margin-top: 5px;
    background-color: #f1faee;
    padding: 20px;
    border-radius: 10px;
    color: black;
    max-height: 100vh;
}

.room-header {
    margin-left: 10px;
}

.room-messages {
    background-color: #f1faee;
    border-radius: 10px;
    padding:10px;
    height: 350px;
    border: 3px solid #283845;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

.message-input {
    margin-top: 20px;
}
